<main class="pt-5" (click)="onBodyClick()">
    <div  class="container">
        <nav class="mb-4 shadow-b bg-white no-print d-flex justify-content-between">
            <span class="back" routerLink="../">
                <i class="fas fa-arrow-left"></i>
                <span>Back</span>
            </span>
            <div class="nav-right">
                <input class="search-input" type="text" (change)="onSearchChange()"  title="Search names, user type and/or email address" placeholder="Search names, user types and/or emails" />
            </div>
        </nav>

        <div class="list-containter pt-2" *ngIf="userList">
            <div class="shadow-b no-shadow-print bg-white">
                <ul id="scrollList" class="list-data list-unstyled pl-5 pr-5">
                    <li class="list-group-item bg-white row">
                        <ul class="row justify-content-center list-unstyled">
                            <li class="col-2 text-capitalize text-nowrap">Registered on</li>
                            <li class="col-4 text-capitalize text-nowrap">Email Address</li>
                            <li class="col-3 text-capitalize text-nowrap">User Type</li>
                            <li class="col-3 text-capitalize text-nowrap">Full Name</li>
                        </ul>
                    </li>
                    <li class="list-group-item bg-white row">Empty</li>
                    <li [ngClass]="{'clicked' : user.clicked}" (click)="onUserListItemClick(user)" *ngFor="let user of userList | paginate: { id: 'users', itemsPerPage: getPageSize(), currentPage: currentPage, totalItems: totalItems }" class="list-group-item bg-white row">
                        <ul class="row justify-content-center list-unstyled">
                            <li class="col-2">{{user.created_at | date: 'MMM dd, yyyy'}}</li>
                            <li class="col-4" [title]="user.email_verified ? 'Verified' : 'Unverified'">{{user.email}}</li>
                            <li class="col-3 text-capitalize">{{user.admin ? 'Administrator' : 'Officer in Charge'}}</li>
                            <li class="col-3 text-capitalize">{{user.first_name + ' ' + (user.middle_name ? user.middle_name[0] + '. ' : '') + user.last_name}}</li>
                        </ul>
                    </li>
                    <li *ngIf="0 === userList.length" class="list-group-item bg-white row">
                        <ul class="row justify-content-center list-unstyled">
                            <li class="col-2">No users to be displayed</li>
                            <li class="col-4 text-capitalize">/</li>
                            <li class="col-3 text-capitalize">/</li>
                            <li class="col-3">/</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <span [ngClass]="{'active' : editActive}" class="edit-icon"><i class="fas fa-pencil-alt"></i></span>
            <span class="add-icon" routerLink="new"><i class="fas fa-plus"></i></span>
            <span (click)="onDeleteButtonClick()" [ngClass]="{'active' : deleteActive}" class="delete-icon"><i class="fas fa-trash-alt"></i></span>
            <span class="print-icon no-print" (click)="printPage()"><i class="fas fa-print"></i></span>

            <nav>
                <pagination-controls  id="users"
                                      (pageChange)="pageChanged($event)"
                                      maxSize="10"
                                      directionLinks="true"
                                      autoHide="true"
                                      responsive="true"
                                      previousLabel="Previous"
                                      nextLabel="Next"
                                      screenReaderPaginationLabel="Pagination"
                                      screenReaderPageLabel="page"
                                      screenReaderCurrentLabel="You're on page">
                </pagination-controls>
            </nav>
        </div>
    </div>

    <div class="delete-confirm-modal wall-overlay w-100 h-100 text-center" *ngIf="deleteModalActive">
        <div class="account-popup bg-white d-inline-block">
            <h3>Delete</h3>

            <span *ngIf="deleteError" class="show-error">{{deleteError}}</span>
            <span *ngIf="deleteMessage" class="show-success">{{deleteMessage}}</span>

            <p class="m-0">Are you sure you want to delete this user?<br />This action cannot be undone!</p>

            <button (click)="onDeleteAccept()" class="delete-button" [ngClass]="{'button-invalid' : deletePending}" [disabled]="deletePending">
                <span *ngIf="!deletePending">Delete</span>
                <span *ngIf="deletePending">Pending</span>
            </button>
            <button (click)="onDeleteCancel()" [ngClass]="{'button-invalid' : deletePending}" [disabled]="deletePending">Cancel</button>
        </div>
    </div>
</main>
