<main class="pt-5">
    <div  class="container">
        <nav class="mb-4 shadow-b bg-white no-print d-flex justify-content-between">
            <span class="back" routerLink="/dashboard">
                <i class="fas fa-arrow-left"></i>
                <span>Back</span>
            </span>
            <div class="nav-right">
                <input class="search-input" type="text" (input)="onSearchChange()" (change)="onSearchChange()"  title="Search" placeholder="Search names, IP-addresses and/or actions" />
            </div>
        </nav>

        <div class="list-containter pt-2" *ngIf="auditList">
            <div class="shadow-b no-shadow-print bg-white">
                <ul id="scrollList" class="list-data list-unstyled pl-5 pr-5">
                    <li class="list-group-item bg-white row">
                        <ul class="row justify-content-center list-unstyled">
                            <li class="col-3 text-capitalize text-nowrap">Date</li>
                            <li class="col-3 text-capitalize text-nowrap">Action</li>
                            <li class="col-4 text-capitalize text-nowrap">User</li>
                            <li class="col-2 text-capitalize text-nowrap">IP Address</li>
                        </ul>
                    </li>
                    <li class="list-group-item bg-white row">Empty</li>
                    <li *ngFor="let audit of auditList | paginate: { id: 'audits', itemsPerPage: getPageSize(), currentPage: currentPage, totalItems: totalItems }" class="list-group-item bg-white row">
                        <ul class="row justify-content-center list-unstyled">
                            <li class="col-3">{{audit.date | date: 'MMM dd, yyyy - hh:mm a'}}</li>
                            <li class="col-3 text-capitalize">{{audit.action}}</li>
                            <li class="col-4 text-capitalize">{{audit.user ? audit.user.first_name + ' ' + (audit.user.middle_name ? audit.user.middle_name[0] + '. ' : '') + audit.user.last_name : '/'}}</li>
                            <li class="col-2">{{audit.ip_address}}</li>
                        </ul>
                    </li>
                    <li *ngIf="0 === auditList.length" class="list-group-item bg-white row">
                        <ul class="row justify-content-center list-unstyled">
                            <li class="col-3">No audits to be displayed</li>
                            <li class="col-3 text-capitalize">/</li>
                            <li class="col-4 text-capitalize">/</li>
                            <li class="col-2">xxx.xxx.xxx.xxx</li>
                        </ul>
                    </li>
                </ul>
            </div>

            <span class="print-icon no-print" (click)="printPage()"><i class="fas fa-print"></i></span>

            <nav>
                <pagination-controls  id="audits"
                                      (pageChange)="pageChanged($event)"
                                      maxSize="10"
                                      directionLinks="true"
                                      autoHide="true"
                                      responsive="true"
                                      previousLabel="Previous"
                                      nextLabel="Next"
                                      screenReaderPaginationLabel="Pagination"
                                      screenReaderPageLabel="page"
                                      screenReaderCurrentLabel="You're on page">
                </pagination-controls>
            </nav>
        </div>
    </div>
</main>
