$color-1: #79bffa;
$color-2: #0f3389;
$color-3: #4392f1;
$color-4: #ffffff;
$color-5: #006494;

header {
  height: 90px;
  background: $color-3;
  background: -moz-linear-gradient(138deg, $color-1 40%, $color-2 80%);
  background: -webkit-linear-gradient(138deg, $color-1 40%, $color-2 80%);
  background: linear-gradient(138deg, $color-1 40%, $color-2 80%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=$color-1,endColorstr=$color-2,GradientType=1);

  border-bottom: $color-2 5px solid;

  h1 {
    color: $color-2;
    letter-spacing: 5px;
  }

  .logo {
    background: no-repeat url('../assets/media/SMU_logo.png') center center;
    background-size: contain;
    width: 70px;
    height: 100%;
    display: inline-block;
  }

  .logout-btn {
    border-width: 2px;
    border-radius: 18px;
  }
}