$color-1: #79bffa;
$color-2: #0f3389;
$color-3: #4392f1;
$color-4: #ffffff;
$color-5: #006494;

header {
  height: 90px;
  background: rgb(15, 51, 137);
  background-size: cover;

  .logo {
    background: no-repeat url('../assets/media/SMU_logo.png') center center;
    background-size: contain;
    width: 70px;
    height: 100%;
    display: block;
  }
}