/* You can add global styles to this file, and also import other style files */

$color-1: #79bffa;
$color-2: #0f3389;
$color-3: #4392f1;
$color-4: #ffffff;
$color-5: #006494;

html, body {
  height: 100%;
  width: 100%;
  box-sizing: border-box !important;
  margin: 0 !important;
  padding: 0 !important;
  scroll-behavior: smooth;
}

.wall-overlay {
  background: rgba(0, 0, 80, 0.25);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.text-light {
  color: $color-1 !important;
}

.btn {
  border-width: 2px;
  border-radius: 18px;
}

.btn-primary {
  background-color: $color-2;
  border-color: $color-2;

  &:hover {
    background-color: $color-3;
    border-color: $color-3;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: rgba($color-2, 0.1);
}

::-webkit-scrollbar-thumb {
  background-color: $color-5;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgb(0, 53, 87);
}

.ngx-pagination {
  text-align: center;
  padding: 0;
  color: transparent !important;

  a {
    background: #fff;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    padding: 9px 15px !important;
    text-decoration: none;
    border: 3px solid #edeff7;
    font-size: 13px;
    color: #000;
    border-radius: 30px !important;
    height: 42px;
    line-height: 1.2;
    outline: none;

    &:hover {
      background: #85b6fc30 !important;
    }
  }

  .current {
    background-color: #003557e0 !important;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    padding: 9px 15px !important;
    text-decoration: none;
    border: 3px solid #edeff7;
    color: #000;
    border-radius: 30px;
    height: 42px;
    font-size: 13px;
    line-height: 1.2;
  }

  .disabled {
    padding: 9px 15px !important;
    cursor: default;
    background: #edeff7;
    -ms-box-shadow: none;
    -o-box-shadow: none;
    box-shadow: none;
    text-decoration: none;
    border: 3px solid #edeff7;
    font-size: 13px;
    color: transparent !important;
    border-radius: 30px;
    height: 42px;
    line-height: 1.2;
  }

  .disabled:hover {
    background: #edeff7 !important;
  }
}

pagination-controls {
  display: block;
  width: 100%;
  position: relative;
  text-align: center;
  margin-top: 10px;

  .pagination-next {
    position: absolute;
    right: 0;
    width: 42px;
    overflow: hidden;
    color: transparent !important;
    * {
      color: transparent !important;
      background-color: transparent;
    }

    &:after, > a::after {
      display: block !important;
      position: absolute;
      right: 14px;
      bottom: 13px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      border-radius: 0.15rem;
      width: 10px;
      height: 10px;
      border-bottom: 3px solid #35568c;
      border-right: 3px solid #35568c;
    }

    > a::after {
      right: 17px;
      bottom: 16px;
    }
  }

  .pagination-previous {
    position: absolute;
    left: 0;
    width: 42px;
    overflow: hidden;
    color: transparent;
    * {
      color: transparent !important;
      background-color: transparent;
    }

    &:before, > a::before {
      display: block !important;
      position: absolute;
      left: 14px;
      bottom: 13px;
      -webkit-transform: rotate(135deg);
      transform: rotate(135deg);
      border-radius: 0.15rem;
      width: 10px;
      height: 10px;
      border-bottom: 3px solid #35568c;
      border-right: 3px solid #35568c;
    }

    > a::before {
      left: 17px;
      bottom: 16px;
    }
  }
}