<main class="pt-5 pb-5">
    <div  class="container">
        <ul class="row justify-content-center list-unstyled">
            <li class="col-xl-4 col-lg-6 col-md-6" [ngClass]="{'disabled' : !isAdmin()}" routerLink="{{isAdmin() ? 'users' : '/dashboard'}}">
                <section>
                    <div>
                        <i class="fas fa-users"><i class="fas fa-user"></i></i>
                        <h2 class="m-0">Users</h2>
                    </div>
                </section>
            </li>
            <li class="col-xl-4 col-lg-6 col-md-6">
                <section>
                    <div>
                        <i class="fas fa-cars"><i class="fas fa-car"></i><i class="fas fa-car"><i class="fas fa-car"><i class="fas fa-car"><span></span><i class="fas fa-car"></i></i></i></i></i>
                        <h2 class="m-0">Vehicles</h2>
                    </div>
                </section>
            </li>
            <li class="col-xl-4 col-lg-6 col-md-6" [ngClass]="{'disabled' : !isAdmin()}" routerLink="{{isAdmin() ? 'audit' : '/dashboard'}}">
                <section>
                    <div>
                        <i class="fas fa-history"><span><i class="fas fa-history"></i></span></i>
                        <h2 class="m-0">Audit</h2>
                    </div>
                </section>
            </li>
            <li class="col-xl-4 col-lg-6 col-md-6 disabled">
                <section>
                    <div>
                        <i class="fas fa-database"><span><i class="fas fa-database"></i></span></i>
                        <h2 class="m-0">Database</h2>
                    </div>
                </section>
            </li>
            <li class="col-xl-4 col-lg-6 col-md-6">
                <section>
                    <div>
                        <i class="fas fa-user"><span><i class="fas fa-user"></i></span></i>
                        <h2 class="m-0">My Account</h2>
                    </div>
                </section>
            </li>
            <li id="logout-btn" class="col-xl-4 col-lg-6 col-md-6" (click)="logout()">
                <section>
                    <div>
                        <i class="fas fa-sign-out-alt"><span><i class="fas fa-sign-out-alt"></i></span><span><i class="fas fa-sign-out-alt"></i></span></i>
                        <h2 class="m-0">Logout</h2>
                    </div>
                </section>
            </li>
        </ul>
    </div>
</main>
